@model IEnumerable<LeaveTypeVM>

@{
    ViewData["Title"] = "Leave Type";
}

<h1>Leave Type</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa-sharp fa-solid fa-plus"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDays)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fa-sharp fa-solid fa-circle-info"></i></a> 
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                <button type="button" class="btn btn-danger LeaveTypeDelete" data-id="@item.Id" ><i class="fa-sharp fa-solid fa-trash-can"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Delete" id="DeleteConfirm">
        <input type="hidden" name="Id" id="LeaveTypeID" />
</form>

@section Scripts{
    <script>
        $(function(){

            $('.table').DataTable();

            $(".LeaveTypeDelete").click(function(e) {

                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to delete the record?",
                    icon: "warning",
                    dangermode: true,
                    buttons: true
                }).then((confirm) => {
                    if (confirm) {
                        var id = $(this).data("id");
                        $("#LeaveTypeID").val(id);
                        $("#DeleteConfirm").submit();
                    }
                });

            });
        });
    </script>
}